{% extends 'main/base.html' %} {% block title %} Лендинг проекта {%endblock%} {% block main %}
<h1>Лендинг</h1>
<div class='container'>
	<div class='row'>
		<div class='col-12'>
			<h1>О проекте</h1>
			<p>Сервис заказа такси онлайн</p>
		</div>
		<div class='col-6 mb-4'>
			<img class="img-fluid rounded "
				src="https://static.vecteezy.com/system/resources/previews/001/821/019/original/businessman-calls-taxi-and-opens-the-taxi-door-vector.jpg">
		</div>
		<div class='col-6 mb-4"'>
			<h2>Что нужно сделать?</h2>
			<p>Необходимо было сделать сайт с возможность заказа такси онлайн</p>
			<p>Также необходимо разработать удобную админ-панель с возможностью импорта-экспорта</p>
		</div>
		<div class="col-6 mb-4 pb-4 border-bottom">
			<img class="img-fluid "
				src="https://p2.zoon.ru/preview/EZIPx3IWlYQBZAqnXXVHyg/2400x1500x75/1/a/d/original_5a0b7ad5a24fd95ca929d3a2_60b174bb91fe4.jpg"
				alt=" ">
		</div>
		<div class="col-6 mb-4 pb-4 border-bottom">
			<h2>Изучение Django, Rest Framework, Postman</h2>
			<p>Изучение документации, видеоуроков, лекций и т.п.</p>
		</div>
		<div class="row bg-warning text-dark rounded p-4 mb-4 border-bottom">
			<div class="col-12">
				<h1>Разработчик</h1>
			</div>
			<div class="col-4">
				<img class='img-fluid rounded'
					src="https://sun9-71.userapi.com/impg/ALCdP_gAutuAoAF7rsKSFARrD4fiVGvtRVXNhg/55_HG5_pi_Y.jpg?size=960x1093&quality=95&sign=abc028305befd2bbef5cc94119a9d2e6&type=album"
					alt="">
			</div>
			<div class="col-8">
				<h2>Житная Дарья</h2>
				<p>Группа 191-322. Django разработчик</p>
				<h3>Ведущий веб-разработчик</h3>
				<p>Создатель сайта.</p>
			</div>
		</div>
		<div class="row bg-primary rounded  roundend p-4 mt-4">
			<div class="col-12">
				<h1>Используемые давай технологии</h1>
			</div>
			<div class="col-4">
				<img class='img-fluid'
					src="https://habrastorage.org/getpro/habr/post_images/1d5/28e/2cb/1d528e2cb5fbc29ad16c74e5d883c371.png"
					alt="">
			</div>
			<div class="col-4">
				<img class='img-fluid' src="https://www.django-rest-framework.org/img/logo.png" alt="">
			</div>
			<div class="col-4">
				<img class='img-fluid'
					src="https://habrastorage.org/getpro/habr/post_images/40e/c7f/b4f/40ec7fb4f579c099e14f300685f2222c.png"
					alt="">
			</div>
		</div>
	</div>
</div>
{% endblock %}